<style>
  .board-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
  }

  .board-item {
    position: relative;
    border-radius: 10px;
    margin: 0 2% 2% 0;
    padding: 0;
    transform: translate(0);
    width: 20%;
    height: 100px;
    background-color: #344b4f
  }


  .container {
    background-color: #0000;
  }

  .org-title {
    padding: 5px;
    margin: 5px;
  }

  .org-title h3 {
    display: inline;
    margin-left: 10px;
  }

  .board-item a {
    position: absolute;
    top: 6px;
    left: 5px;
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    text-align: left;
    padding: 8px;
    z-index: 0;
    
  }

  .add-board {
    padding: 10px;
  }
  .add-board input {
    margin-left: 10px;
  }

  .imgBgBoard {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.8;
    z-index: 1;
  }
</style>
<div class="container">
  <div class="add-board">
    <i class="fas fa-plus"></i>
    <input class="btn btn-primary" type="button" value="Create new board"
      onclick="location.href='@Url.Action("Create", "Boards")'" />
  </div>

  @for (int i = 0; i < ViewBag.Organizations.Count; i++)
  {
    <div class="org-boards">
      <div class="boards">
        <div class="org-title">
          <i class="fas fa-list"></i>
          <h3>@ViewBag.Organizations[i].displayName</h3>
        </div>
        <ul class="board-list">
          @for (int j = 0; j < @ViewBag.AllBoards[i].Count; j++)
          {

            <li class="board-item">
              @{
                string nameBoard = ViewBag.AllBoards[i][j].name;
                string imgBgBoard = ViewBag.AllBoards[i][j].prefs.backgroundImage;
              }
              <img class="imgBgBoard" src="@imgBgBoard" alt="">
              @Html.ActionLink(nameBoard, "read", new { id = @ViewBag.AllBoards[i][j].id})
            </li>
          }
        </ul>
      </div>
    </div>
  }
</div>
